- content_for :head do
  base[href="/"]
  = stylesheet_link_tag    "chat/application", media: "all"
  = javascript_include_tag "chat/application"
= render :partial => "/layouts/application", locals: { ng_app: 'chatApp' }
