.container[ng-init="init()"]
  h1
    | Chat::Chat#index
  .messages
    ul.list-group
      li.list-group-item[ng-repeat="list in lists"]
        .message
          |  {{ list.text }} - {{ list.created_at }}
  form[ng-submit="sendMessage(text)"]
    |  <input type="hidden" id="url" value="
    = websocket_url
    | ">
    .input-group
      input#text.form-control.input-lg[type="text" autofocus="autofocus" placeholder="comment message ." ng-model="text"]
      span.input-group-btn
        button#send.btn.btn-success.btn-lg[type="submit"]
          | Send
